<div class="container mt-5">
    <h2 class="text-center">Patient Enrollment System</h2>
    <app-alert [alertType]="alertType" [alertMessage]="alertMessage" [showAlert]="showAlert"></app-alert>
    <!-- Tabs -->
    <ul class="nav nav-tabs mt-4" id="patientTabs">
        <li class="nav-item">
            <a class="nav-link" [class.active]="selectedTab === 'new'" (click)="selectTab('new')">New Patient</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="selectedTab === 'existing'" (click)="selectTab('existing')">Existing
                Patient</a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content mt-3">
        <div *ngIf="selectedTab === 'new'" class="card p-4">
            <h5>New Patient Enrollment</h5>
            <h6>Please upload the enrollment form</h6>
            <div class="container mt-4">
                <label for="fileInput" class="form-label">Upload Enrollment Form</label>
                <div class="input-group">
                    <input type="file" class="form-control" id="fileInput" multiple (change)="handleFileInput($event)">
                    <button class="btn btn-outline-secondary" type="button" (click)="clearFile()">Clear</button>
                </div>
                <button *ngIf="showEnrollmentButton" type="button" class="btn btn-primary mt-2"
                    (click)="uploadEnrollment()">Upload Enrollment</button>
            </div>
            <div *ngIf="isPatientDetailsReceived" class="card p-4 mt-4">
                <h4>Review & Edit Patient Details</h4>
                <form id="patientDetailsForm" [formGroup]="patientForm">
                    <label class="form-label">Full Name:</label>
                    <input type="text" class="form-control" formControlName="fullName">

                    <label class="form-label">Date of Birth:</label>
                    <input type="text" class="form-control" formControlName="dateOfBirth">

                    <label class="form-label">SSN:</label>
                    <input type="text" class="form-control" formControlName="ssn">

                    <label class="form-label">Patient ID:</label>
                    <input type="text" class="form-control" formControlName="pid">

                    <label class="form-label">Address:</label>
                    <input type="text" class="form-control" formControlName="address">

                    <label class="form-label">Contact Number:</label>
                    <input type="text" class="form-control" formControlName="contactNumber">

                    <label class="form-label">Emergency Contact Number:</label>
                    <input type="text" class="form-control" formControlName="emergencyContact">

                    <label class="form-label">Medical History:</label>
                    <textarea class="form-control" formControlName="medicalHistory" rows="5"></textarea>

                    <label class="form-label">Primary Physician:</label>
                    <input type="text" class="form-control" formControlName="primaryPhysician">

                    <button type="button" class="btn btn-primary mt-3" (click)="submitEnrollment(patientForm, false)">Validate
                        & Submit</button>
                </form>
            </div>
            <div *ngIf="showInsuranceSection" id="insuranceSection" class="card mt-5 p-4">
                <h3>Upload Insurance Card</h3>
                <form id="insuranceForm" enctype="multipart/form-data">
                    <label class="form-label">Upload Insurance Card:</label>
                    <input type="file" class="form-control" id="insuranceFile" multiple accept="image/*"
                        (change)="validateImages($event)">
                    <button type="button" class="btn btn-primary mt-3" (click)="uploadInsurance(false)">Upload
                        Insurance</button>
                </form>
                <div id="insuranceData" class="mt-4" *ngIf="insuranceData">
                    <div class="container mt-4">
                        <h2>Insurance Details</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Policy Number</th>
                                    <th>Policyholder Name</th>
                                    <th>Insurance Provider</th>
                                    <th>Group Number</th>
                                    <th>Coverage Start Date</th>
                                    <th>Coverage End Date</th>
                                    <th>Expired</th>
                                    <th>Insured Address</th>
                                    <th>Provider Contact</th>
                                    <th>Plan Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ insuranceData?.insurance?.policyNumber }}</td>
                                    <td>{{ insuranceData?.insurance?.policyholderName }}</td>
                                    <td>{{ insuranceData?.insurance?.insuranceProvider }}</td>
                                    <td>{{ insuranceData?.insurance?.groupNumber }}</td>
                                    <td>{{ insuranceData?.insurance?.coverageStartDate }}</td>
                                    <td>{{ insuranceData?.insurance?.coverageEndDate }}</td>
                                    <td>{{ insuranceData?.insurance?.expired ? 'Yes' : 'No' }}</td>
                                    <td>{{ insuranceData?.insurance?.insuredAddress }}</td>
                                    <td>{{ insuranceData?.insurance?.providerContact || 'N/A' }}</td>
                                    <td>{{ insuranceData?.insurance?.planType }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <p><strong>Provider:</strong> {{insuranceData?.insurance?.insuranceProvider}}</p>
                    <p><strong>Policy Number:</strong> {{insuranceData?.insurance?.policyNumber}}</p> -->
                </div>
            </div>
        </div>

        <div *ngIf="selectedTab === 'existing'" class="card p-4">
            <h3>Existing Patient Lookup</h3>
            <form id="lookupForm" [formGroup]="existingPatientForm">
                <label class="form-label">Enter SSN or Patient ID:</label>
                <input type="text" class="form-control" id="patientId" formControlName="pid" placeholder="SSN or PID">
                <button type="button" class="btn btn-primary mt-3" (click)="fetchPatientDetails()">Search</button>
            </form>
            <div *ngIf="isExistingPatientDetailsReceived" class="card p-4 mt-4">
                <h4>Review & Edit Patient Details</h4>
                <form id="patientDetailsForm" [formGroup]="existingPatientForm">
                    <label class="form-label">Full Name:</label>
                    <input type="text" class="form-control" formControlName="fullName">

                    <label class="form-label">Date of Birth:</label>
                    <input type="text" class="form-control" formControlName="dateOfBirth">

                    <label class="form-label">SSN:</label>
                    <input type="text" class="form-control" formControlName="ssn">

                    <label class="form-label">Patient ID:</label>
                    <input type="text" class="form-control" formControlName="pid">

                    <label class="form-label">Address:</label>
                    <input type="text" class="form-control" formControlName="address">

                    <label class="form-label">Contact Number:</label>
                    <input type="text" class="form-control" formControlName="contactNumber">

                    <label class="form-label">Emergency Contact Number:</label>
                    <input type="text" class="form-control" formControlName="emergencyContact">

                    <label class="form-label">Medical History:</label>
                    <textarea class="form-control" formControlName="medicalHistory" rows="5"></textarea>

                    <label class="form-label">Primary Physician:</label>
                    <input type="text" class="form-control" formControlName="primaryPhysician">

                    <button type="button" class="btn btn-primary mt-3" (click)="submitEnrollment(existingPatientForm, true)">Validate
                        & Submit</button>
                </form>
            </div>
            <div class="card p-4 mt-4">
                <div id="insuranceData" class="mt-4" *ngIf="existingPatientInsuranceData">
                    <div class="container mt-4">
                        <h2>Insurance Details</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Policy Number</th>
                                    <th>Policyholder Name</th>
                                    <th>Insurance Provider</th>
                                    <th>Group Number</th>
                                    <th>Coverage Start Date</th>
                                    <th>Coverage End Date</th>
                                    <th>Expired</th>
                                    <th>Insured Address</th>
                                    <th>Provider Contact</th>
                                    <th>Plan Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ existingPatientInsuranceData?.policyNumber }}</td>
                                    <td>{{ existingPatientInsuranceData?.policyholderName }}</td>
                                    <td>{{ existingPatientInsuranceData?.insuranceProvider }}</td>
                                    <td>{{ existingPatientInsuranceData?.groupNumber }}</td>
                                    <td>{{ existingPatientInsuranceData?.coverageStartDate }}</td>
                                    <td>{{ existingPatientInsuranceData?.coverageEndDate }}</td>
                                    <td>{{ existingPatientInsuranceData?.expired ? 'Yes' : 'No' }}</td>
                                    <td>{{ existingPatientInsuranceData?.insuredAddress }}</td>
                                    <td>{{ existingPatientInsuranceData?.providerContact || 'N/A' }}</td>
                                    <td>{{ existingPatientInsuranceData?.planType }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div *ngIf="showInsuranceSectionExisting" id="insuranceSection" class="card mt-5 p-4">
                <h3>Upload New Insurance</h3>
                <form id="insuranceForm" enctype="multipart/form-data">
                    <label class="form-label">Upload Insurance Card:</label>
                    <input type="file" class="form-control" id="insuranceFile" multiple accept="image/*"
                        (change)="validateImages($event)">
                    <button type="button" class="btn btn-primary mt-3" (click)="uploadInsurance(true)">Upload
                        Insurance</button>
                </form>
            </div>
        </div>
    </div>
    <app-alert [alertType]="alertType" [alertMessage]="alertMessage" [showAlert]="showAlert"></app-alert>
</div>
<!-- <app-alert-modal  [alertMessage]="alertMessage" [alertType]="alertType" ></app-alert-modal> -->